.score-bar-container {
    width: -webkit-fill-available;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.score-bar {
    width: -webkit-fill-available;
    background-color: #2E70CB17;
    border-radius: 35px;
    flex-basis: 50%;
    height: 10px;
    overflow: hidden;
}

.score-bar__value {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 35px;
    background: var(--color);
}

.score-bar__label {
    font-family: 'Avenir';
    font-size: 11px;
    color: #626F86;
    margin-left: 10%;
}

.score-bar__label span {
    font-weight: 700;
    color: #172B4D;
}