<div class="circle-container">
    <svg width="100%" height="100%" [style.--dash]="dash" >
        <foreignObject class="logoBack" x="0" y="0" width="120" height="120">
            <div class="logoGradient" xmlns="http://www.w3.org/1999/xhtml"></div>
        </foreignObject>
        <g class="blend">
            <rect x="0" y="0" width="120" height="120" fill="#fafbfd" />
            <circle cx="60" cy="60" r="50" fill="transparent" stroke-width="12" />
        </g>
        <circle cx="60" cy="60" r="50" fill="transparent" stroke-width="12" stroke="#0056b820" />
    </svg>
    <div class="circle-value-wrapper">
        <div class="circle-value">
            Score <br>
            <span>{{progress}}</span>
        </div>
    </div>
  </div>