.circle-container {
  display: inline-block;
  margin: 1em;
  position: relative;
  width: 120px;
  height: 120px;
}
svg circle {
  stroke-dasharray: calc(2 * 3.14 * 100);
  mix-blend-mode: luminosity;
}
svg g circle {
  stroke-dasharray: var(--dash) calc((2 * 3.14 * 100) - var(--dash));
  stroke: #000;
}

svg {
  transform: rotateZ(-90deg);
}

.logoGradient {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(90deg);
  background: conic-gradient(#f53f3f 0%, #f7ba1e 50%, #099a09 100%);
}

g.blend {
  mix-blend-mode: lighten;
}


.circle-value-wrapper {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.circle-value {
  font-family: 'Avenir';
  font-style: normal;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle-value span {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}